{% extends 'base_menu.html' %}
{% block content %}
{% load static %}
<h1>Deck List</h1>
<div id="deck_list">
{% if decks_list %}
    <ul>
        {% for deck in decks_list %}
        <li>
            <strong> {{ deck.name }} </strong>
            <button id="addCard"> Add Cards </button>
            <a href="{% url 'dashyboard:update' deck.id %}"> Edit Deck </a>
            <a href="{% url 'dashyboard:delete' deck.id %}"> Delete Deck </a>
        </li>
        <span> {{ deck.description }} </span>
        {% endfor %}
    </ul>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <form id="popupForm" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
      </div>
    </div>
{% else %}
    <div>No Decks Yet!!</div>
{% endif %}
</div>
<div id="deck_form">
    <a href="{% url 'dashyboard:create' %}">Add Deck</a>
    <a href="#">Import Deck</a>
</div>
{% endblock %}